{{expression.join('')}}
<div class="box">
    <div class="display">
        <input type="text" readonly size="17" id="d" value="{{calculator.expression.join('')}}">
    </div>
    <div class="keys">
        <p>
            <input type="button" ng-click="clickOperator($event)" class="button pink" value="/">
            <input type="button" ng-click="clickOperator($event)" class="button pink" value="*">
            <input type="button" ng-click="clickOperator($event)" class="button pink" value="-">
            <input type="button" ng-click="clickOperator($event)" class="button pink" value="+">
        </p>

        <p>
            <input type="button" ng-click="clickButton($event)" class="button black" value="7">
            <input type="button" ng-click="clickButton($event)" class="button black" value="8">
            <input type="button" ng-click="clickButton($event)" class="button black" value="9">
            <input type="button" ng-click="clickHistory($event)" class="button pink"
                   value="History">

        </p>

        <p>
            <input type="button" ng-click="clickButton($event)" class="button black" value="4">
            <input type="button" ng-click="clickButton($event)" class="button black" value="5">
            <input type="button" ng-click="clickButton($event)" class="button black" value="6">
        </p>

        <p>
            <input type="button" ng-click="clickButton($event)" class="button black" value="1">
            <input type="button" ng-click="clickButton($event)" class="button black" value="2">
            <input type="button" ng-click="clickButton($event)" class="button black" value="3">
        </p>

        <p>
            <input type="button" ng-click="clickButton($event)" class="button black" value="0">
            <input type="button" ng-click="clickSeparator($event)" class="button black" value=".">
            <input type="button" ng-click="clickClear($event)" class="button black" value="C">
            <input type="button" ng-click="clickResult($event)" class="button orange" value="=">
        </p>
    </div>
</div>
<div>
    <h2>History:</h2>
    {{calculator.history}}
</div>